@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100vh;
}

body {
    font-family: "Abel", sans-serif;
    font-style: normal;
    min-height: 100vh;
}

html.dark {
    background-color: black;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}